.cabecalho{
    width: 412px;
    height: 208px;
    background-color: #C4FFBF;
}
.primeira_secao{
    width: 412px;
    height: 709px;
    background-color: #FCD9FB;
    display: flex;
    justify-content: center;
}
.retangulo{
    width: 229px;
    height: 51px;
    background-color: #C4FFBF;
}
.Plantaverso{
    width: 315.5px;
    height: 82px;
}